.request {
  padding: 0 1rem 0 0.5rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.request:focus {
  outline: 1px solid var(--chakra-colors-green-500) !important;
  outline-offset: -1px;
}

.request--light {
  border-color: var(--chakra-colors-gray-300);
}

.request--light.request--selected {
  background-color: var(--chakra-colors-gray-300);
}

.request--dark {
  border-color: var(--chakra-colors-gray-700);
}
.request--dark.request--selected {
  background-color: var(--chakra-colors-gray-700);
}

.request:hover {
  cursor: pointer;
}

.request--light:hover {
  background-color: var(--chakra-colors-gray-200);
}
.request--dark:hover {
  background-color: var(--chakra-colors-gray-700);
}

.requestName {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

.requestMethod {
  font-weight: 700;
  min-width: 60px;
  width: 60px;
  max-width: 60px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.actionIcon {
  margin-left: auto;
  flex-shrink: 0;
}
