.row {
  display: flex;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  align-items: center;
}

.lrcontainer {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  align-items: center;
}

.cm {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.input {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  max-width: 100%;
  height: 40px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.input--left {
  border-radius: 20px 0 0 20px;
  border-right: 1px solid var(--chakra-colors-gray-100);
}

.input--right {
  border-radius: 0 20px 20px 0;
  border-left: 1px solid var(--chakra-colors-gray-100);
}

.inputcmleft {
  border-radius: 20px 0 0 20px;
  border-right: 1px solid var(--chakra-colors-gray-100);
}

.inputcmright {
  border-radius: 0 20px 20px 0;
  border-left: 1px solid var(--chakra-colors-gray-100);
}

.input--light {
  background-color: var(--chakra-colors-white);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid var(--chakra-colors-gray-100);
}

.input--dark {
  background-color: var(--chakra-colors-gray-900);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid var(--chakra-colors-gray-700);
}

.checkbox {
  margin-left: 10px;
}

.checkbox--light {
  background-color: white;
}

.inputDisabled--light * {
  color: rgba(0, 0, 0, 0.25);
}

.inputDisabled--dark * {
  color: rgba(255, 255, 255, 0.25);
}

.fileSelector {
  border: 1px solid var(--chakra-colors-gray-700);
  border-left: 1px solid #2D3748;
  border-radius: 0 20px 20px 0;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 50%;
  overflow: hidden;
}

.fileSelector--dark {
  background-color: var(--chakra-colors-gray-900);
  border-color: var(--chakra-colors-gray-700);
}

.fileSelector--light {
  background-color: var(--chakra-colors-white);
  border-color: var(--chakra-colors-gray-100);
}

.fileSelector:hover {
  cursor: pointer;
}

.fileSelectorTextContainer {
  padding-left: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  width: 100%;
  flex-shrink: 1; /* Allow text container to shrink as needed */
}
