.row {
  display: flex;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  align-items: center;
}

.cm {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.input {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  max-width: 100%;
  height: 40px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.input--left {
  border-radius: 20px 0 0 20px;
  border-right: 1px solid var(--chakra-colors-gray-100);
}

.input--right {
  border-radius: 0 20px 20px 0;
  border-left: 1px solid var(--chakra-colors-gray-100);
}

.inputcmleft {
  border-radius: 20px 0 0 20px;
  border-right: 1px solid var(--chakra-colors-gray-100);
}

.inputcmright {
  border-radius: 0 20px 20px 0;
  border-left: 1px solid var(--chakra-colors-gray-100);
}

.input--light {
  background-color: var(--chakra-colors-white);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid var(--chakra-colors-gray-100);
}

.input--dark {
  background-color: var(--chakra-colors-gray-900);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid var(--chakra-colors-gray-700);
}

.checkbox {
  margin-left: 10px;
}

.checkbox--light {
  background-color: white;
}

.input-disabled--light * {
  color: rgba(0, 0, 0, 0.25);
}

.input-disabled--dark * {
  color: rgba(255, 255, 255, 0.25);
}
