.container {
  /* compensate for menubar or else overflow */
  height: calc(100% - 40px);
}

.menu {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.iconBar {
  margin-left: auto;
}
