.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 500px;
  border-radius: 20px;
  padding: 1rem 3rem 2rem 3rem;
}

.heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.remember {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.yaadeIcon {
  height: 100px;
}

.oauthIcon {
  height: 25px;
  width: 25px;
}
