.markdown-body--dark {
  color-scheme: dark;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  color: #c9d1d9;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.markdown-body--dark .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.markdown-body--dark h1:hover .anchor .octicon-link:before,
.markdown-body--dark h2:hover .anchor .octicon-link:before,
.markdown-body--dark h3:hover .anchor .octicon-link:before,
.markdown-body--dark h4:hover .anchor .octicon-link:before,
.markdown-body--dark h5:hover .anchor .octicon-link:before,
.markdown-body--dark h6:hover .anchor .octicon-link:before {
  width: 16px;
  height: 16px;
  content: ' ';
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

.markdown-body--dark details,
.markdown-body--dark figcaption,
.markdown-body--dark figure {
  display: block;
}

.markdown-body--dark summary {
  display: list-item;
}

.markdown-body--dark [hidden] {
  display: none !important;
}

.markdown-body--dark a {
  background-color: transparent;
  color: #58a6ff;
  text-decoration: none;
}

.markdown-body--dark abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

.markdown-body--dark b,
.markdown-body--dark strong {
  font-weight: 600;
}

.markdown-body--dark dfn {
  font-style: italic;
}

.markdown-body--dark h1 {
  margin: .67em 0;
  font-weight: 600;
  padding-bottom: .3em;
  font-size: 2em;
  border-bottom: 1px solid #21262d;
}

.markdown-body--dark mark {
  background-color: rgba(187,128,9,0.15);
  color: #c9d1d9;
}

.markdown-body--dark small {
  font-size: 90%;
}

.markdown-body--dark sub,
.markdown-body--dark sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.markdown-body--dark sub {
  bottom: -0.25em;
}

.markdown-body--dark sup {
  top: -0.5em;
}

.markdown-body--dark img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
  background-color: #0d1117;
}

.markdown-body--dark code,
.markdown-body--dark kbd,
.markdown-body--dark pre,
.markdown-body--dark samp {
  font-family: monospace;
  font-size: 1em;
}

.markdown-body--dark figure {
  margin: 1em 40px;
}

.markdown-body--dark hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  border-bottom: 1px solid #21262d;
  height: .25em;
  padding: 0;
  margin: 24px 0;
  background-color: #30363d;
  border: 0;
}

.markdown-body--dark input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.markdown-body--dark [type=checkbox],
.markdown-body--dark [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.markdown-body--dark [type=number]::-webkit-inner-spin-button,
.markdown-body--dark [type=number]::-webkit-outer-spin-button {
  height: auto;
}

.markdown-body--dark [type=search]::-webkit-search-cancel-button,
.markdown-body--dark [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.markdown-body--dark ::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

.markdown-body--dark ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.markdown-body--dark a:hover {
  text-decoration: underline;
}

.markdown-body--dark ::placeholder {
  color: #6e7681;
  opacity: 1;
}

.markdown-body--dark hr::before {
  display: table;
  content: "";
}

.markdown-body--dark hr::after {
  display: table;
  clear: both;
  content: "";
}

.markdown-body--dark table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

.markdown-body--dark td,
.markdown-body--dark th {
  padding: 0;
}

.markdown-body--dark details summary {
  cursor: pointer;
}

.markdown-body--dark details:not([open])>*:not(summary) {
  display: none !important;
}

.markdown-body--dark a:focus,
.markdown-body--dark [role=button]:focus,
.markdown-body--dark input[type=radio]:focus,
.markdown-body--dark input[type=checkbox]:focus {
  outline: 2px solid #58a6ff;
  outline-offset: -2px;
  box-shadow: none;
}

.markdown-body--dark a:focus:not(:focus-visible),
.markdown-body--dark [role=button]:focus:not(:focus-visible),
.markdown-body--dark input[type=radio]:focus:not(:focus-visible),
.markdown-body--dark input[type=checkbox]:focus:not(:focus-visible) {
  outline: solid 1px transparent;
}

.markdown-body--dark a:focus-visible,
.markdown-body--dark [role=button]:focus-visible,
.markdown-body--dark input[type=radio]:focus-visible,
.markdown-body--dark input[type=checkbox]:focus-visible {
  outline: 2px solid #58a6ff;
  outline-offset: -2px;
  box-shadow: none;
}

.markdown-body--dark a:not([class]):focus,
.markdown-body--dark a:not([class]):focus-visible,
.markdown-body--dark input[type=radio]:focus,
.markdown-body--dark input[type=radio]:focus-visible,
.markdown-body--dark input[type=checkbox]:focus,
.markdown-body--dark input[type=checkbox]:focus-visible {
  outline-offset: 0;
}

.markdown-body--dark kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  line-height: 10px;
  color: #c9d1d9;
  vertical-align: middle;
  background-color: #161b22;
  border: solid 1px rgba(110,118,129,0.4);
  border-bottom-color: rgba(110,118,129,0.4);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 rgba(110,118,129,0.4);
}

.markdown-body--dark h1,
.markdown-body--dark h2,
.markdown-body--dark h3,
.markdown-body--dark h4,
.markdown-body--dark h5,
.markdown-body--dark h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.markdown-body--dark h1:first-child,
.markdown-body--dark h2:first-child,
.markdown-body--dark h3:first-child,
.markdown-body--dark h4:first-child,
.markdown-body--dark h5:first-child,
.markdown-body--dark h6:first-child {
  margin-top: 0;
}

.markdown-body--dark h2 {
  font-weight: 600;
  padding-bottom: .3em;
  font-size: 1.5em;
  border-bottom: 1px solid #21262d;
}

.markdown-body--dark h3 {
  font-weight: 600;
  font-size: 1.25em;
}

.markdown-body--dark h4 {
  font-weight: 600;
  font-size: 1em;
}

.markdown-body--dark h5 {
  font-weight: 600;
  font-size: .875em;
}

.markdown-body--dark h6 {
  font-weight: 600;
  font-size: .85em;
  color: #8b949e;
}

.markdown-body--dark p {
  margin-top: 0;
  margin-bottom: 10px;
}

.markdown-body--dark blockquote {
  margin: 0;
  padding: 0 1em;
  color: #8b949e;
  border-left: .25em solid #30363d;
}

.markdown-body--dark ul,
.markdown-body--dark ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

.markdown-body--dark ol ol,
.markdown-body--dark ul ol {
  list-style-type: lower-roman;
}

.markdown-body--dark ul ul ol,
.markdown-body--dark ul ol ol,
.markdown-body--dark ol ul ol,
.markdown-body--dark ol ol ol {
  list-style-type: lower-alpha;
}

.markdown-body--dark dd {
  margin-left: 0;
}

.markdown-body--dark tt,
.markdown-body--dark code,
.markdown-body--dark samp {
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 12px;
}

.markdown-body--dark pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 12px;
  word-wrap: normal;
}

.markdown-body--dark .octicon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

.markdown-body--dark input::-webkit-outer-spin-button,
.markdown-body--dark input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.markdown-body::before {
  display: table;
  content: "";
}

.markdown-body::after {
  display: table;
  clear: both;
  content: "";
}

.markdown-body>*:first-child {
  margin-top: 0 !important;
}

.markdown-body>*:last-child {
  margin-bottom: 0 !important;
}

.markdown-body--dark a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown-body--dark .absent {
  color: #f85149;
}

.markdown-body--dark .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

.markdown-body--dark .anchor:focus {
  outline: none;
}

.markdown-body--dark p,
.markdown-body--dark blockquote,
.markdown-body--dark ul,
.markdown-body--dark ol,
.markdown-body--dark dl,
.markdown-body--dark table,
.markdown-body--dark pre,
.markdown-body--dark details {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown-body--dark blockquote>:first-child {
  margin-top: 0;
}

.markdown-body--dark blockquote>:last-child {
  margin-bottom: 0;
}

.markdown-body--dark h1 .octicon-link,
.markdown-body--dark h2 .octicon-link,
.markdown-body--dark h3 .octicon-link,
.markdown-body--dark h4 .octicon-link,
.markdown-body--dark h5 .octicon-link,
.markdown-body--dark h6 .octicon-link {
  color: #c9d1d9;
  vertical-align: middle;
  visibility: hidden;
}

.markdown-body--dark h1:hover .anchor,
.markdown-body--dark h2:hover .anchor,
.markdown-body--dark h3:hover .anchor,
.markdown-body--dark h4:hover .anchor,
.markdown-body--dark h5:hover .anchor,
.markdown-body--dark h6:hover .anchor {
  text-decoration: none;
}

.markdown-body--dark h1:hover .anchor .octicon-link,
.markdown-body--dark h2:hover .anchor .octicon-link,
.markdown-body--dark h3:hover .anchor .octicon-link,
.markdown-body--dark h4:hover .anchor .octicon-link,
.markdown-body--dark h5:hover .anchor .octicon-link,
.markdown-body--dark h6:hover .anchor .octicon-link {
  visibility: visible;
}

.markdown-body--dark h1 tt,
.markdown-body--dark h1 code,
.markdown-body--dark h2 tt,
.markdown-body--dark h2 code,
.markdown-body--dark h3 tt,
.markdown-body--dark h3 code,
.markdown-body--dark h4 tt,
.markdown-body--dark h4 code,
.markdown-body--dark h5 tt,
.markdown-body--dark h5 code,
.markdown-body--dark h6 tt,
.markdown-body--dark h6 code {
  padding: 0 .2em;
  font-size: inherit;
}

.markdown-body--dark summary h1,
.markdown-body--dark summary h2,
.markdown-body--dark summary h3,
.markdown-body--dark summary h4,
.markdown-body--dark summary h5,
.markdown-body--dark summary h6 {
  display: inline-block;
}

.markdown-body--dark summary h1 .anchor,
.markdown-body--dark summary h2 .anchor,
.markdown-body--dark summary h3 .anchor,
.markdown-body--dark summary h4 .anchor,
.markdown-body--dark summary h5 .anchor,
.markdown-body--dark summary h6 .anchor {
  margin-left: -40px;
}

.markdown-body--dark summary h1,
.markdown-body--dark summary h2 {
  padding-bottom: 0;
  border-bottom: 0;
}

.markdown-body--dark ul.no-list,
.markdown-body--dark ol.no-list {
  padding: 0;
  list-style-type: none;
}

.markdown-body--dark ol[type=a] {
  list-style-type: lower-alpha;
}

.markdown-body--dark ol[type=A] {
  list-style-type: upper-alpha;
}

.markdown-body--dark ol[type=i] {
  list-style-type: lower-roman;
}

.markdown-body--dark ol[type=I] {
  list-style-type: upper-roman;
}

.markdown-body--dark ol[type="1"] {
  list-style-type: decimal;
}

.markdown-body--dark div>ol:not([type]) {
  list-style-type: decimal;
}

.markdown-body--dark ul ul,
.markdown-body--dark ul ol,
.markdown-body--dark ol ol,
.markdown-body--dark ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body--dark li>p {
  margin-top: 16px;
}

.markdown-body--dark li+li {
  margin-top: .25em;
}

.markdown-body--dark dl {
  padding: 0;
}

.markdown-body--dark dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.markdown-body--dark dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdown-body--dark table th {
  font-weight: 600;
}

.markdown-body--dark table th,
.markdown-body--dark table td {
  padding: 6px 13px;
  border: 1px solid #30363d;
}

.markdown-body--dark table tr {
  background-color: #0d1117;
  border-top: 1px solid #21262d;
}

.markdown-body--dark table tr:nth-child(2n) {
  background-color: #161b22;
}

.markdown-body--dark table img {
  background-color: transparent;
}

.markdown-body--dark img[align=right] {
  padding-left: 20px;
}

.markdown-body--dark img[align=left] {
  padding-right: 20px;
}

.markdown-body--dark .emoji {
  max-width: none;
  vertical-align: text-top;
  background-color: transparent;
}

.markdown-body--dark span.frame {
  display: block;
  overflow: hidden;
}

.markdown-body--dark span.frame>span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid #30363d;
}

.markdown-body--dark span.frame span img {
  display: block;
  float: left;
}

.markdown-body--dark span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: #c9d1d9;
}

.markdown-body--dark span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

.markdown-body--dark span.align-center>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}

.markdown-body--dark span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

.markdown-body--dark span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

.markdown-body--dark span.align-right>span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}

.markdown-body--dark span.align-right span img {
  margin: 0;
  text-align: right;
}

.markdown-body--dark span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}

.markdown-body--dark span.float-left span {
  margin: 13px 0 0;
}

.markdown-body--dark span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}

.markdown-body--dark span.float-right>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}

.markdown-body--dark code,
.markdown-body--dark tt {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: rgba(110,118,129,0.4);
  border-radius: 6px;
}

.markdown-body--dark code br,
.markdown-body--dark tt br {
  display: none;
}

.markdown-body--dark del code {
  text-decoration: inherit;
}

.markdown-body--dark samp {
  font-size: 85%;
}

.markdown-body--dark pre code {
  font-size: 100%;
}

.markdown-body--dark pre>code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.markdown-body--dark .highlight {
  margin-bottom: 16px;
}

.markdown-body--dark .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.markdown-body--dark .highlight pre,
.markdown-body--dark pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #161b22;
  border-radius: 6px;
}

.markdown-body--dark pre code,
.markdown-body--dark pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.markdown-body--dark .csv-data td,
.markdown-body--dark .csv-data th {
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
}

.markdown-body--dark .csv-data .blob-num {
  padding: 10px 8px 9px;
  text-align: right;
  background: #0d1117;
  border: 0;
}

.markdown-body--dark .csv-data tr {
  border-top: 0;
}

.markdown-body--dark .csv-data th {
  font-weight: 600;
  background: #161b22;
  border-top: 0;
}

.markdown-body--dark [data-footnote-ref]::before {
  content: "[";
}

.markdown-body--dark [data-footnote-ref]::after {
  content: "]";
}

.markdown-body--dark .footnotes {
  font-size: 12px;
  color: #8b949e;
  border-top: 1px solid #30363d;
}

.markdown-body--dark .footnotes ol {
  padding-left: 16px;
}

.markdown-body--dark .footnotes ol ul {
  display: inline-block;
  padding-left: 16px;
  margin-top: 16px;
}

.markdown-body--dark .footnotes li {
  position: relative;
}

.markdown-body--dark .footnotes li:target::before {
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -24px;
  pointer-events: none;
  content: "";
  border: 2px solid #1f6feb;
  border-radius: 6px;
}

.markdown-body--dark .footnotes li:target {
  color: #c9d1d9;
}

.markdown-body--dark .footnotes .data-footnote-backref g-emoji {
  font-family: monospace;
}

.markdown-body--dark .pl-c {
  color: #8b949e;
}

.markdown-body--dark .pl-c1,
.markdown-body--dark .pl-s .pl-v {
  color: #79c0ff;
}

.markdown-body--dark .pl-e,
.markdown-body--dark .pl-en {
  color: #d2a8ff;
}

.markdown-body--dark .pl-smi,
.markdown-body--dark .pl-s .pl-s1 {
  color: #c9d1d9;
}

.markdown-body--dark .pl-ent {
  color: #7ee787;
}

.markdown-body--dark .pl-k {
  color: #ff7b72;
}

.markdown-body--dark .pl-s,
.markdown-body--dark .pl-pds,
.markdown-body--dark .pl-s .pl-pse .pl-s1,
.markdown-body--dark .pl-sr,
.markdown-body--dark .pl-sr .pl-cce,
.markdown-body--dark .pl-sr .pl-sre,
.markdown-body--dark .pl-sr .pl-sra {
  color: #a5d6ff;
}

.markdown-body--dark .pl-v,
.markdown-body--dark .pl-smw {
  color: #ffa657;
}

.markdown-body--dark .pl-bu {
  color: #f85149;
}

.markdown-body--dark .pl-ii {
  color: #f0f6fc;
  background-color: #8e1519;
}

.markdown-body--dark .pl-c2 {
  color: #f0f6fc;
  background-color: #b62324;
}

.markdown-body--dark .pl-sr .pl-cce {
  font-weight: bold;
  color: #7ee787;
}

.markdown-body--dark .pl-ml {
  color: #f2cc60;
}

.markdown-body--dark .pl-mh,
.markdown-body--dark .pl-mh .pl-en,
.markdown-body--dark .pl-ms {
  font-weight: bold;
  color: #1f6feb;
}

.markdown-body--dark .pl-mi {
  font-style: italic;
  color: #c9d1d9;
}

.markdown-body--dark .pl-mb {
  font-weight: bold;
  color: #c9d1d9;
}

.markdown-body--dark .pl-md {
  color: #ffdcd7;
  background-color: #67060c;
}

.markdown-body--dark .pl-mi1 {
  color: #aff5b4;
  background-color: #033a16;
}

.markdown-body--dark .pl-mc {
  color: #ffdfb6;
  background-color: #5a1e02;
}

.markdown-body--dark .pl-mi2 {
  color: #c9d1d9;
  background-color: #1158c7;
}

.markdown-body--dark .pl-mdr {
  font-weight: bold;
  color: #d2a8ff;
}

.markdown-body--dark .pl-ba {
  color: #8b949e;
}

.markdown-body--dark .pl-sg {
  color: #484f58;
}

.markdown-body--dark .pl-corl {
  text-decoration: underline;
  color: #a5d6ff;
}

.markdown-body--dark g-emoji {
  display: inline-block;
  min-width: 1ch;
  font-family: "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1em;
  font-style: normal !important;
  font-weight: 400;
  line-height: 1;
  vertical-align: -0.075em;
}

.markdown-body--dark g-emoji img {
  width: 1em;
  height: 1em;
}

.markdown-body--dark .task-list-item {
  list-style-type: none;
}

.markdown-body--dark .task-list-item label {
  font-weight: 400;
}

.markdown-body--dark .task-list-item.enabled label {
  cursor: pointer;
}

.markdown-body--dark .task-list-item+.task-list-item {
  margin-top: 4px;
}

.markdown-body--dark .task-list-item .handle {
  display: none;
}

.markdown-body--dark .task-list-item-checkbox {
  margin: 0 .2em .25em -1.4em;
  vertical-align: middle;
}

.markdown-body--dark .contains-task-list:dir(rtl) .task-list-item-checkbox {
  margin: 0 -1.6em .25em .2em;
}

.markdown-body--dark .contains-task-list {
  position: relative;
}

.markdown-body--dark .contains-task-list:hover .task-list-item-convert-container,
.markdown-body--dark .contains-task-list:focus-within .task-list-item-convert-container {
  display: block;
  width: auto;
  height: 24px;
  overflow: visible;
  clip: auto;
}

.markdown-body--dark ::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}

.markdown-body--light {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  color: #24292f;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.markdown-body--light .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.markdown-body--light h1:hover .anchor .octicon-link:before,
.markdown-body--light h2:hover .anchor .octicon-link:before,
.markdown-body--light h3:hover .anchor .octicon-link:before,
.markdown-body--light h4:hover .anchor .octicon-link:before,
.markdown-body--light h5:hover .anchor .octicon-link:before,
.markdown-body--light h6:hover .anchor .octicon-link:before {
  width: 16px;
  height: 16px;
  content: ' ';
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

.markdown-body--light details,
.markdown-body--light figcaption,
.markdown-body--light figure {
  display: block;
}

.markdown-body--light summary {
  display: list-item;
}

.markdown-body--light [hidden] {
  display: none !important;
}

.markdown-body--light a {
  background-color: transparent;
  color: #0969da;
  text-decoration: none;
}

.markdown-body--light abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

.markdown-body--light b,
.markdown-body--light strong {
  font-weight: 600;
}

.markdown-body--light dfn {
  font-style: italic;
}

.markdown-body--light h1 {
  margin: .67em 0;
  font-weight: 600;
  padding-bottom: .3em;
  font-size: 2em;
  border-bottom: 1px solid hsla(210,18%,87%,1);
}

.markdown-body--light mark {
  background-color: #fff8c5;
  color: #24292f;
}

.markdown-body--light small {
  font-size: 90%;
}

.markdown-body--light sub,
.markdown-body--light sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.markdown-body--light sub {
  bottom: -0.25em;
}

.markdown-body--light sup {
  top: -0.5em;
}

.markdown-body--light img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
  background-color: #ffffff;
}

.markdown-body--light code,
.markdown-body--light kbd,
.markdown-body--light pre,
.markdown-body--light samp {
  font-family: monospace;
  font-size: 1em;
}

.markdown-body--light figure {
  margin: 1em 40px;
}

.markdown-body--light hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  border-bottom: 1px solid hsla(210,18%,87%,1);
  height: .25em;
  padding: 0;
  margin: 24px 0;
  background-color: #d0d7de;
  border: 0;
}

.markdown-body--light input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.markdown-body--light [type=checkbox],
.markdown-body--light [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.markdown-body--light [type=number]::-webkit-inner-spin-button,
.markdown-body--light [type=number]::-webkit-outer-spin-button {
  height: auto;
}

.markdown-body--light [type=search]::-webkit-search-cancel-button,
.markdown-body--light [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.markdown-body--light ::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

.markdown-body--light ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.markdown-body--light a:hover {
  text-decoration: underline;
}

.markdown-body--light ::placeholder {
  color: #6e7781;
  opacity: 1;
}

.markdown-body--light hr::before {
  display: table;
  content: "";
}

.markdown-body--light hr::after {
  display: table;
  clear: both;
  content: "";
}

.markdown-body--light table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

.markdown-body--light td,
.markdown-body--light th {
  padding: 0;
}

.markdown-body--light details summary {
  cursor: pointer;
}

.markdown-body--light details:not([open])>*:not(summary) {
  display: none !important;
}

.markdown-body--light a:focus,
.markdown-body--light [role=button]:focus,
.markdown-body--light input[type=radio]:focus,
.markdown-body--light input[type=checkbox]:focus {
  outline: 2px solid #0969da;
  outline-offset: -2px;
  box-shadow: none;
}

.markdown-body--light a:focus:not(:focus-visible),
.markdown-body--light [role=button]:focus:not(:focus-visible),
.markdown-body--light input[type=radio]:focus:not(:focus-visible),
.markdown-body--light input[type=checkbox]:focus:not(:focus-visible) {
  outline: solid 1px transparent;
}

.markdown-body--light a:focus-visible,
.markdown-body--light [role=button]:focus-visible,
.markdown-body--light input[type=radio]:focus-visible,
.markdown-body--light input[type=checkbox]:focus-visible {
  outline: 2px solid #0969da;
  outline-offset: -2px;
  box-shadow: none;
}

.markdown-body--light a:not([class]):focus,
.markdown-body--light a:not([class]):focus-visible,
.markdown-body--light input[type=radio]:focus,
.markdown-body--light input[type=radio]:focus-visible,
.markdown-body--light input[type=checkbox]:focus,
.markdown-body--light input[type=checkbox]:focus-visible {
  outline-offset: 0;
}

.markdown-body--light kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  line-height: 10px;
  color: #24292f;
  vertical-align: middle;
  background-color: #f6f8fa;
  border: solid 1px rgba(175,184,193,0.2);
  border-bottom-color: rgba(175,184,193,0.2);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 rgba(175,184,193,0.2);
}

.markdown-body--light h1,
.markdown-body--light h2,
.markdown-body--light h3,
.markdown-body--light h4,
.markdown-body--light h5,
.markdown-body--light h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.markdown-body--light h1:first-child,
.markdown-body--light h2:first-child,
.markdown-body--light h3:first-child,
.markdown-body--light h4:first-child,
.markdown-body--light h5:first-child,
.markdown-body--light h6:first-child {
  margin-top: 0;
}

.markdown-body--light h2 {
  font-weight: 600;
  padding-bottom: .3em;
  font-size: 1.5em;
  border-bottom: 1px solid hsla(210,18%,87%,1);
}

.markdown-body--light h3 {
  font-weight: 600;
  font-size: 1.25em;
}

.markdown-body--light h4 {
  font-weight: 600;
  font-size: 1em;
}

.markdown-body--light h5 {
  font-weight: 600;
  font-size: .875em;
}

.markdown-body--light h6 {
  font-weight: 600;
  font-size: .85em;
  color: #57606a;
}

.markdown-body--light p {
  margin-top: 0;
  margin-bottom: 10px;
}

.markdown-body--light blockquote {
  margin: 0;
  padding: 0 1em;
  color: #57606a;
  border-left: .25em solid #d0d7de;
}

.markdown-body--light ul,
.markdown-body--light ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

.markdown-body--light ol ol,
.markdown-body--light ul ol {
  list-style-type: lower-roman;
}

.markdown-body--light ul ul ol,
.markdown-body--light ul ol ol,
.markdown-body--light ol ul ol,
.markdown-body--light ol ol ol {
  list-style-type: lower-alpha;
}

.markdown-body--light dd {
  margin-left: 0;
}

.markdown-body--light tt,
.markdown-body--light code,
.markdown-body--light samp {
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 12px;
}

.markdown-body--light pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 12px;
  word-wrap: normal;
}

.markdown-body--light .octicon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

.markdown-body--light input::-webkit-outer-spin-button,
.markdown-body--light input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.markdown-body::before {
  display: table;
  content: "";
}

.markdown-body::after {
  display: table;
  clear: both;
  content: "";
}

.markdown-body>*:first-child {
  margin-top: 0 !important;
}

.markdown-body>*:last-child {
  margin-bottom: 0 !important;
}

.markdown-body--light a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown-body--light .absent {
  color: #cf222e;
}

.markdown-body--light .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

.markdown-body--light .anchor:focus {
  outline: none;
}

.markdown-body--light p,
.markdown-body--light blockquote,
.markdown-body--light ul,
.markdown-body--light ol,
.markdown-body--light dl,
.markdown-body--light table,
.markdown-body--light pre,
.markdown-body--light details {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown-body--light blockquote>:first-child {
  margin-top: 0;
}

.markdown-body--light blockquote>:last-child {
  margin-bottom: 0;
}

.markdown-body--light h1 .octicon-link,
.markdown-body--light h2 .octicon-link,
.markdown-body--light h3 .octicon-link,
.markdown-body--light h4 .octicon-link,
.markdown-body--light h5 .octicon-link,
.markdown-body--light h6 .octicon-link {
  color: #24292f;
  vertical-align: middle;
  visibility: hidden;
}

.markdown-body--light h1:hover .anchor,
.markdown-body--light h2:hover .anchor,
.markdown-body--light h3:hover .anchor,
.markdown-body--light h4:hover .anchor,
.markdown-body--light h5:hover .anchor,
.markdown-body--light h6:hover .anchor {
  text-decoration: none;
}

.markdown-body--light h1:hover .anchor .octicon-link,
.markdown-body--light h2:hover .anchor .octicon-link,
.markdown-body--light h3:hover .anchor .octicon-link,
.markdown-body--light h4:hover .anchor .octicon-link,
.markdown-body--light h5:hover .anchor .octicon-link,
.markdown-body--light h6:hover .anchor .octicon-link {
  visibility: visible;
}

.markdown-body--light h1 tt,
.markdown-body--light h1 code,
.markdown-body--light h2 tt,
.markdown-body--light h2 code,
.markdown-body--light h3 tt,
.markdown-body--light h3 code,
.markdown-body--light h4 tt,
.markdown-body--light h4 code,
.markdown-body--light h5 tt,
.markdown-body--light h5 code,
.markdown-body--light h6 tt,
.markdown-body--light h6 code {
  padding: 0 .2em;
  font-size: inherit;
}

.markdown-body--light summary h1,
.markdown-body--light summary h2,
.markdown-body--light summary h3,
.markdown-body--light summary h4,
.markdown-body--light summary h5,
.markdown-body--light summary h6 {
  display: inline-block;
}

.markdown-body--light summary h1 .anchor,
.markdown-body--light summary h2 .anchor,
.markdown-body--light summary h3 .anchor,
.markdown-body--light summary h4 .anchor,
.markdown-body--light summary h5 .anchor,
.markdown-body--light summary h6 .anchor {
  margin-left: -40px;
}

.markdown-body--light summary h1,
.markdown-body--light summary h2 {
  padding-bottom: 0;
  border-bottom: 0;
}

.markdown-body--light ul.no-list,
.markdown-body--light ol.no-list {
  padding: 0;
  list-style-type: none;
}

.markdown-body--light ol[type=a] {
  list-style-type: lower-alpha;
}

.markdown-body--light ol[type=A] {
  list-style-type: upper-alpha;
}

.markdown-body--light ol[type=i] {
  list-style-type: lower-roman;
}

.markdown-body--light ol[type=I] {
  list-style-type: upper-roman;
}

.markdown-body--light ol[type="1"] {
  list-style-type: decimal;
}

.markdown-body--light div>ol:not([type]) {
  list-style-type: decimal;
}

.markdown-body--light ul ul,
.markdown-body--light ul ol,
.markdown-body--light ol ol,
.markdown-body--light ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body--light li>p {
  margin-top: 16px;
}

.markdown-body--light li+li {
  margin-top: .25em;
}

.markdown-body--light dl {
  padding: 0;
}

.markdown-body--light dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.markdown-body--light dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdown-body--light table th {
  font-weight: 600;
}

.markdown-body--light table th,
.markdown-body--light table td {
  padding: 6px 13px;
  border: 1px solid #d0d7de;
}

.markdown-body--light table tr {
  background-color: #ffffff;
  border-top: 1px solid hsla(210,18%,87%,1);
}

.markdown-body--light table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.markdown-body--light table img {
  background-color: transparent;
}

.markdown-body--light img[align=right] {
  padding-left: 20px;
}

.markdown-body--light img[align=left] {
  padding-right: 20px;
}

.markdown-body--light .emoji {
  max-width: none;
  vertical-align: text-top;
  background-color: transparent;
}

.markdown-body--light span.frame {
  display: block;
  overflow: hidden;
}

.markdown-body--light span.frame>span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid #d0d7de;
}

.markdown-body--light span.frame span img {
  display: block;
  float: left;
}

.markdown-body--light span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: #24292f;
}

.markdown-body--light span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

.markdown-body--light span.align-center>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}

.markdown-body--light span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

.markdown-body--light span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

.markdown-body--light span.align-right>span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}

.markdown-body--light span.align-right span img {
  margin: 0;
  text-align: right;
}

.markdown-body--light span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}

.markdown-body--light span.float-left span {
  margin: 13px 0 0;
}

.markdown-body--light span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}

.markdown-body--light span.float-right>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}

.markdown-body--light code,
.markdown-body--light tt {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: rgba(175,184,193,0.2);
  border-radius: 6px;
}

.markdown-body--light code br,
.markdown-body--light tt br {
  display: none;
}

.markdown-body--light del code {
  text-decoration: inherit;
}

.markdown-body--light samp {
  font-size: 85%;
}

.markdown-body--light pre code {
  font-size: 100%;
}

.markdown-body--light pre>code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.markdown-body--light .highlight {
  margin-bottom: 16px;
}

.markdown-body--light .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.markdown-body--light .highlight pre,
.markdown-body--light pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 6px;
}

.markdown-body--light pre code,
.markdown-body--light pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.markdown-body--light .csv-data td,
.markdown-body--light .csv-data th {
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
}

.markdown-body--light .csv-data .blob-num {
  padding: 10px 8px 9px;
  text-align: right;
  background: #ffffff;
  border: 0;
}

.markdown-body--light .csv-data tr {
  border-top: 0;
}

.markdown-body--light .csv-data th {
  font-weight: 600;
  background: #f6f8fa;
  border-top: 0;
}

.markdown-body--light [data-footnote-ref]::before {
  content: "[";
}

.markdown-body--light [data-footnote-ref]::after {
  content: "]";
}

.markdown-body--light .footnotes {
  font-size: 12px;
  color: #57606a;
  border-top: 1px solid #d0d7de;
}

.markdown-body--light .footnotes ol {
  padding-left: 16px;
}

.markdown-body--light .footnotes ol ul {
  display: inline-block;
  padding-left: 16px;
  margin-top: 16px;
}

.markdown-body--light .footnotes li {
  position: relative;
}

.markdown-body--light .footnotes li:target::before {
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -24px;
  pointer-events: none;
  content: "";
  border: 2px solid #0969da;
  border-radius: 6px;
}

.markdown-body--light .footnotes li:target {
  color: #24292f;
}

.markdown-body--light .footnotes .data-footnote-backref g-emoji {
  font-family: monospace;
}

.markdown-body--light .pl-c {
  color: #6e7781;
}

.markdown-body--light .pl-c1,
.markdown-body--light .pl-s .pl-v {
  color: #0550ae;
}

.markdown-body--light .pl-e,
.markdown-body--light .pl-en {
  color: #8250df;
}

.markdown-body--light .pl-smi,
.markdown-body--light .pl-s .pl-s1 {
  color: #24292f;
}

.markdown-body--light .pl-ent {
  color: #116329;
}

.markdown-body--light .pl-k {
  color: #cf222e;
}

.markdown-body--light .pl-s,
.markdown-body--light .pl-pds,
.markdown-body--light .pl-s .pl-pse .pl-s1,
.markdown-body--light .pl-sr,
.markdown-body--light .pl-sr .pl-cce,
.markdown-body--light .pl-sr .pl-sre,
.markdown-body--light .pl-sr .pl-sra {
  color: #0a3069;
}

.markdown-body--light .pl-v,
.markdown-body--light .pl-smw {
  color: #953800;
}

.markdown-body--light .pl-bu {
  color: #82071e;
}

.markdown-body--light .pl-ii {
  color: #f6f8fa;
  background-color: #82071e;
}

.markdown-body--light .pl-c2 {
  color: #f6f8fa;
  background-color: #cf222e;
}

.markdown-body--light .pl-sr .pl-cce {
  font-weight: bold;
  color: #116329;
}

.markdown-body--light .pl-ml {
  color: #3b2300;
}

.markdown-body--light .pl-mh,
.markdown-body--light .pl-mh .pl-en,
.markdown-body--light .pl-ms {
  font-weight: bold;
  color: #0550ae;
}

.markdown-body--light .pl-mi {
  font-style: italic;
  color: #24292f;
}

.markdown-body--light .pl-mb {
  font-weight: bold;
  color: #24292f;
}

.markdown-body--light .pl-md {
  color: #82071e;
  background-color: #ffebe9;
}

.markdown-body--light .pl-mi1 {
  color: #116329;
  background-color: #dafbe1;
}

.markdown-body--light .pl-mc {
  color: #953800;
  background-color: #ffd8b5;
}

.markdown-body--light .pl-mi2 {
  color: #eaeef2;
  background-color: #0550ae;
}

.markdown-body--light .pl-mdr {
  font-weight: bold;
  color: #8250df;
}

.markdown-body--light .pl-ba {
  color: #57606a;
}

.markdown-body--light .pl-sg {
  color: #8c959f;
}

.markdown-body--light .pl-corl {
  text-decoration: underline;
  color: #0a3069;
}

.markdown-body--light g-emoji {
  display: inline-block;
  min-width: 1ch;
  font-family: "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1em;
  font-style: normal !important;
  font-weight: 400;
  line-height: 1;
  vertical-align: -0.075em;
}

.markdown-body--light g-emoji img {
  width: 1em;
  height: 1em;
}

.markdown-body--light .task-list-item {
  list-style-type: none;
}

.markdown-body--light .task-list-item label {
  font-weight: 400;
}

.markdown-body--light .task-list-item.enabled label {
  cursor: pointer;
}

.markdown-body--light .task-list-item+.task-list-item {
  margin-top: 4px;
}

.markdown-body--light .task-list-item .handle {
  display: none;
}

.markdown-body--light .task-list-item-checkbox {
  margin: 0 .2em .25em -1.4em;
  vertical-align: middle;
}

.markdown-body--light .contains-task-list:dir(rtl) .task-list-item-checkbox {
  margin: 0 -1.6em .25em .2em;
}

.markdown-body--light .contains-task-list {
  position: relative;
}

.markdown-body--light .contains-task-list:hover .task-list-item-convert-container,
.markdown-body--light .contains-task-list:focus-within .task-list-item-convert-container {
  display: block;
  width: auto;
  height: 24px;
  overflow: visible;
  clip: auto;
}

.markdown-body--light ::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}
