.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.select {
  height: 32px;
  width: 120px;
  min-width: 120px;
  max-width: 120px;
  text-align: center;
  border-radius: 20px 0 0 20px;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-weight: 700;
}

.select:hover {
  cursor: pointer;
}

.select--light {
  background-color: var(--chakra-colors-gray-300);
}

.select--light:hover {
  background-color: var(--chakra-colors-gray-200);
}

.select--dark {
  background-color: var(--chakra-colors-gray-700);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid var(--chakra-colors-gray-700);
}

.select--dark:hover {
  background-color: var(--chakra-colors-gray-600);
}

.input {
  width: 100%;
  padding-left: 1rem;
}

.input--light {
  background-color: var(--chakra-colors-white);
}

.input--dark {
  background-color: var(--chakra-colors-gray-900);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid var(--chakra-colors-gray-700);
}

.button {
  border-radius: 0 20px 20px 0;
  width: 120px;
  min-width: 120px;
  max-width: 120px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--light {
  background-color: var(--chakra-colors-green-500);
  color: var(--chakra-colors-white);
}

.button--dark {
  background-color: var(--chakra-colors-green-300);
  color: var(--chakra-colors-gray-900);
}

.button--light:hover {
  background-color: var(--chakra-colors-green-400);
}

.button--dark:hover {
  background-color: var(--chakra-colors-green-400);
}
