.searchContainer {
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.searchContainer--light {
  background-color: var(--chakra-colors-white);
  border-color: var(--chakra-colors-gray-300);
}

.searchContainer--dark {
  background-color: var(--chakra-colors-gray-900);
  border-color: var(--chakra-colors-gray-700);
}

.search {
  width: 100%;
  border-radius: 20px;
  height: 32px;
  padding-left: 16px;
  padding-right: 30px;
  margin-right: 1rem;
}

.search--light {
  background-color: var(--chakra-colors-white);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid var(--chakra-colors-gray-100);
}

.search--dark {
  background-color: var(--chakra-colors-gray-900);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid var(--chakra-colors-gray-700);
}

.searchWithClear {
  width: 100%;
  display: inline-block;
  position: relative;
}

.clearSearch {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
}

.box {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
}

.fileInput {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 20px;
  width: 100%;
}

.fileInput::file-selector-button {
  padding: 6px 12px 6px 12px;
  box-shadow: none;
  outline: none;
  border: none;
  margin-right: 16px;
  font-weight: 700;
}

.fileInput::file-selector-button:hover {
  cursor: pointer;
}

.fileInput--light {
  background-color: var(--chakra-colors-gray-200);
}

.fileInput--dark {
  background-color: var(--chakra-colors-gray-800);
}

.fileInput--light::file-selector-button {
  background-color: var(--chakra-colors-blue-500);
  color: var(--chakra-colors-white);
}

.fileInput--dark::file-selector-button {
  background-color: var(--chakra-colors-blue-200);
  color: var(--chakra-colors-black);
}
