.container {
  box-sizing: border-box;
  position: relative;
  grid-row: 1 / 2;
}

.box {
  margin-right: 1rem;
  border-radius: 20px;
  padding: 1rem;
}

.handle {
  position: absolute;
  width: calc(100% - 1rem);
  height: 4px;
  background-color: #0d1117;
  opacity: 0.75;
  border-radius: 4px;
  bottom: -10px;
  margin: auto 0;
  cursor: ns-resize;
}
